body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.create_account_box {
	background-color: #D4D4D4;
	border: thin dashed #CCCCCC;
}
.ship_method {
	font-weight: bold;
	padding-top: 25px;
}
