#menu {
	background: url(../images/menu_bg.jpg) no-repeat left top;
	width: 990px;
	height: 38px;
	margin-bottom: 10px;
}

#menu li {
	background: url(../images/li_border.jpg) no-repeat left top;
	float: left;
	position: relative;
	padding-left: 2px;
	font-weight: bold;
}

#menu li.itemid1 {
	background: none;
}

#menu li a:link,
#menu li a:active,
#menu li a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #000;
	float: left;
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 0 0 0 24px;
	cursor: pointer;
}

#menu li a:link span,
#menu li a:active span,
#menu li a:visited span {
	display: block;
	float: left;
	padding: 0 24px 0 0;
	height: 38px;
	line-height: 38px;
}

#menu li.active a:link,
#menu li.active a:active,
#menu li.active a:visited,
#menu li.sfHover a:link,
#menu li.sfHover a:active,
#menu li.sfHover a:visited,
#menu li a:hover {
	background: url(../images/menu_hover_leftpart.jpg) no-repeat left top;
	cursor: pointer;
}

#menu li.active a:link span,
#menu li.active a:active span,
#menu li.active a:visited span,
#menu li.sfHover a:link span,
#menu li.sfHover a:active span,
#menu li.sfHover a:visited span,
#menu li a:hover span {
	background: url(../images/menu_hover_rightpart.jpg) no-repeat right top;
}

#menu li ul {
	width: 191px;
	position: absolute;
	top: 38px;
	left: -999em;
	z-index: 100;
	margin-left: 1px;
}

#menu li ul ul {
	top: -1px;
   margin-left: 166px;
	z-index: 1000;
	border-top: 1px solid #dadada;
}

#menu li li {
	float: left;
	height: auto;
	width: 160px;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
	background-color: #FFF;
	background-image: url(../images/subnav_bg.jpg);
	background-repeat: repeat-y;
	background-position: left bottom;
}

#menu li li.last {
	background: url(../images/li_ul_bg.gif) no-repeat left bottom;
}


#menu li.active li a:link,
#menu li.active li a:active,
#menu li.active li a:visited,
#menu li.sfHover li a:link,
#menu li.sfHover li a:active,
#menu li.sfHover li a:visited,
#menu li li a:link,
#menu li li a:active,
#menu li li a:visited {
	background: url(../images/ul_li_arrow.jpg) no-repeat left 10px;
	font-size: 12px;
	text-decoration: none;
	color:#000;
	width: 138px;
	display: block;
	float: none;
	padding: 0;
	height: auto;
	line-height: normal;
	cursor: pointer;
}

#menu li.active li a:link span,
#menu li.active li a:active span,
#menu li.active li a:visited span,
#menu li.sfHover li a:link span,
#menu li.sfHover li a:active span,
#menu li.sfHover li a:visited span,
#menu li li a:link span,
#menu li li a:active span,
#menu li li a:visited span {
	float: none;
	height: auto;
	line-height: normal;
	background-image: none;
	padding: 6px 0px 6px 12px;
	cursor: pointer;
}

#menu li.sfHover li a:hover,
#menu li.active li a:hover,
#menu li li.sfHover a:link,
#menu li li.sfHover a:active,
#menu li li.sfHover a:visited,
#menu li li a:hover {
	color: #b5b5b5;
}

#menu li li.active li a:link,
#menu li li.active li a:active,
#menu li li.active li a:visited,
#menu li li.sfHover li a:link,
#menu li li.sfHover li a:active,
#menu li li.sfHover li a:visited,
#menu li li li a:link,
#menu li li li a:active,
#menu li li li a:visited {
	color:#000;
}

#menu li li.sfHover li a:hover,
#menu li li.active li a:hover,
#menu li li li.sfHover a:link,
#menu li li li.sfHover a:active,
#menu li li li.sfHover a:visited,
#menu li li li a:hover {
	color: #b5b5b5;
}

#menu li li li.active li a:link,
#menu li li li.active li a:active,
#menu li li li.active li a:visited,
#menu li li li.sfHover li a:link,
#menu li li li.sfHover li a:active,
#menu li li li.sfHover li a:visited,
#menu li li li li a:link,
#menu li li li li a:active,
#menu li li li li a:visited {
	color:#000;
}

#menu li li li.sfHover li a:hover,
#menu li li li.active li a:hover,
#menu li li li li.sfHover a:link,
#menu li li li li.sfHover a:active,
#menu li li li li.sfHover a:visited,
#menu li li li li a:hover {
	color:#b5b5b5;
}


/* --- need it every time ---- */

#menu li:hover ul ul,
#menu li:hover ul ul ul,
#menu li.sfHover ul ul,
#menu li.sfHover ul ul ul {
   left: -999em;
}

#menu li:hover ul,
#menu li li:hover ul,
#menu li li li:hover ul,
#menu li.sfHover ul,
#menu li li.sfHover ul,
#menu li li li.sfHover ul {
	left: 0px;
}

#menu li:hover ul ul,
#menu li:hover ul ul ul,
#menu li:hover ul ul ul ul,
#menu li.sfHover ul ul,
#menu li.sfHover ul ul ul,
#menu li.sfHover ul ul ul ul {
   left: -999em;
}

#menu li:hover ul,
#menu li li:hover ul,
#menu li li li:hover ul,
#menu li li li li:hover ul,
#menu li.sfHover ul,
#menu li li.sfHover ul,
#menu li li li.sfHover ul,
#menu li li li li.sfHover ul {
   left: 0px;
}

/* ---- end --- */