
.productdes .text-success {
	font-size: 1.5em;
}

a.large-link {
	font-size: 1.3em;
}

 

.article_desc {
	font-size: 1.2em;
	line-height: 1.4em;
}

.product-shop .alert {
	max-width: 420px;
}

.extra_images {
	padding-right: 5px;
	padding-top: 5px
}

 

.productitem-grid hr,
.productitem-grid .grid-view-none
 {display:none; }


.productitem-list .clear-list-view {clear:both;}
.productitem-grid .clear-list-view {display:none;}
.productitem-grid h4 {
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    
    }
 
 .center {text-align:center;}
 
.productitem-grid .text-success {display:block;width:100%}

 



.productitem-grid .well {min-height:130px;}

.ui-widget .label {margin-right:3px; }

.clear {clear:both;}
 .media, .media-body {
    overflow: visible;
}

 
 
.productitem-grid h3 {font-size:1.2em;}
.productitem-grid .lead {margin-bottom:0px;font-size:1.2em;}
.productitem-grid {min-height:350px;}

 .cs6-shop-link .label {  float:right;clear:both;margin-top:-20px;
  filter: alpha(opacity=10); /* internet explorer */
    -khtml-opacity: 0.3; /* khtml, old safari */
    -moz-opacity: 0.3; /* mozilla, netscape */
    opacity: 0.3; /* fx, safari, opera */
 }

 
 #overlay img{margin-right:auto;margin-left:auto;}

  #overlay {text-alighn:center;}