#module-product {
	width: 100%;
	margin: 0 auto;
}
#module-product .sort {
	width: 100%;
	height: 25px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 6px;
}
ul#our_cats {
	display: block;
	width: 100%;
}
ul#our_cats li {
	float: left;
	width: 134px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 3px;
	padding-left: 4px;
	display: block;
}
#module-product .sort.last {
	margin-bottom: 0px;
}
#module-product .productitem {
	margin-bottom: 5px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#module-product .productitem .productimage {
	width: 20%;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}
#module-product .productitem .productimage img {
	margin-bottom: 5px;
}
#module-product .productitem .productimage .checkbox {
	vertical-align: middle;
}
#module-product .productitem .productimage .item {
	margin-bottom: 2px;
}
#module-product .productitem .productdes {
	float: right;
	width: 80%;
}
#module-product .productitem .productdes .prize {
	float: left;
	width: 35%;
	font-size: 18px;
	font-weight: bold;
	margin: 0 12px 0 0px;
}
#module-product .productitem .productdes .qty {
	width: 15%;
	float: left;
	margin: 0 12px 0 0px;
}
#module-product .productitem .productdes .qty label {
	float: left;
	width: 10%;
}
#module-product .productitem .productdes .qty .inputbox {
	float: right;
	width: 25%;
	margin: 0px;
}
#module-product .productitem .productdes .rating {
	float: right;
	width: 35%;
}
#module-product .productitem .productdes .rating img {
	margin: 2px 0 0 3px;
}
#module-product .productitem .productdes .rating label {
	float: left;
	width: % 35;
}
#module-product .productitem p {
	margin-bottom: 10px;
}
.module-product .price .msrp_name, .module-product .price .msrp_price, .module-product .price .map_name, .module-product .price .map_price {
	display: none;
}
#module-product .productitem .productdes .prize .msrp_name, #module-product .productitem .productdes .prize .msrp_price, #module-product .productitem .productdes .prize .map_name, #module-product .productitem .productdes .prize .map_price {
	font-weight: bold;
}
.module-product .productWrap .price .ourprice_name {
	display: none;
}
#module-product .productitem .productdes .prize .ourprice_name {
	display: none;
}
.cat_image_wrap {
	padding-right: 5px;
}
ul.also_listed li {
	display: inline;
	margin-right: 5px;
}
ul.also_listed {
	margin-bottom: 5px;
}
ul#reviews {
	display: block;
	width: 100%;
}
ul#reviews li {
	display: inline;
	padding: 5px;
}
tr.infoBoxContents td.main b {
}
#avalibilitycal td {
	padding: 3px;
}
.dataTableContentUp {
	font-weight: bold;
	background-color: #C9C9C9;
	padding: 3px;
	border: 1px solid #C9C9C9;
}
.dataTableContentLow {
	border: 1px solid #C9C9C9;
	padding: 3px;
}
table.extraf_head {
	float: left;
	padding: 3px;
	border: 1px solid #CCCCCC;
	margin-bottom: 7px;
}
.extraf_title {
	background-color: #F4F4F4;
	padding: 3px;
	border: 1px solid #CCCCCC;
}
.extraflower_data {
	padding: 3px;
}
a.auction_link {
	text-decoration: none;
}
.topic {
	font-weight: bold;
}
.xsell .productWrap img {
	width: 79px;
	height: auto;
}
.xsell .productWrap img {
	width: auto;
	height: 79px;
}
.xsell .model, .xsell .make, .xsell a.readon_p {
	display: none;
}
.est_shipping th {
	font-weight: bold;
}
.est_shipping td {
	padding-bottom: 5px;
}
.login-box ul li {
	list-style-type: none;
}
.login-box ul {
	margin-left: 14px;
}
body #terms {
	padding: 0px;
}
.extra_images img {
	height: auto;
	width: 60px;
}
.extra_images img {
	height: 60px;
	width: auto;
}
.options_wrapper {
	background-color: #F5F5F5;
	margin: 5px;
	padding: 5px;
	clear: both;
	border: 1px solid #CCCCCC;
}
.options_wrapper label {
	display: block;
}
.ourprice_name, .sprice {
	padding-top: 12px;
}
.t9 {
	padding-top: 5px;
}
iframe.stframe #footer {
	background-color: #CCCCCC;
}
#cke_browser_gecko {
	z-index: 9999;
}
#rightCol .map_name, #rightCol .map_price, #rightCol .ourprice_name {
	display: none;
}
#rightCol .button {
	float: right;
	clear: both;
}
.search_wrapper .sort form {
	display: none;
}
.sort ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#module-product .ui-widget-header li {
	padding: 5px;
	float: left;
}
#module-product .ui-widget-header li a {
	padding: 5px;
	float: left;
}
form.alihgn_right {
	width: 200px;
	float: right;
	display: inline;
}
#module-product .ui-tabs-nav {
	margin-bottom: 3px;
}
#contentCol .alihgn_right .inputbox {
	padding: 2px;
}
.remove {
	text-align: right;
	width: 100%;
}
.shoppingcart_nav {
	float: right;
}
ul#categories, ul#sublevel1 {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.details .ui-tabs-nav {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#contentCol .ratingBox {
	display: none;
}
#div_Comments {
	display: none;
}
.cartstore_cat_head h3 {
	padding: 3px;
	font-size: 14px;
	font-weight: bold;
}

.fb-login-btn {
	float: right;
	margin: 10px 2px;
}

.category_listing {
	width: 99%;
}
.category_listing_h3 a:link, .category_listing_h3 a:visited {

	text-decoration: none;
}
#module-product h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 3px;
}
#module-product h3.category_listing_h3 {
	color: #000000;
	font-size: 14px;
	margin-bottom: 3px;
	margin-left: 3px;
	text-align: left;
	text-decoration: none;
	padding: 5px;
	margin-top: 3px;
	margin-right: 3px;
}
.sub_sub_cat_listing li {
 	font-weight: normal;
	display: block;
	float: left;
	width: 33%;
		list-style: disc;

}
ul.sub_sub_cat_listing {
	list-style: disc;

	display: block;
}
.sub_cat_imge {
	float: left;
	margin-right: 10px;
}
.addthis_toolbox {
	text-align: center;
}
.counter_product_next_prev {
	float: right;
}
.clear_cat {
	clear: both;
}

.qty-pricing-table {
	border-bottom: 1px solid #ccc;
	width: 150px;
}
.qty-pricing-table span {
	font-weight: bold;
	padding-left: 0px;
}
.qty-pricing-table li {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #ccc;
	padding-left: 0px;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	color: black;
}
.qty-pricing-table li span {
	display: block;
	float: left;
	width: 50px;
	text-align: left;
	border-right: 1px solid #ccc;
	padding-left: 5px;
	font-weight: normal;
	color: black;
}

div.scroll_terms {
	height: 100px;
	overflow: auto;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 8px;
}

.image_cart {
	float: left
}

.remove_cart {
	text-align: right;
	display: block
}

.subtotal_cart {
	text-align: right;
	display: block
}

.center {
	text-align: center;
}

h4.ui-widget-header a {
	text-decoration: none;
	padding: 0.4em;
	display: block;
}

h3.ui-state-default {
	padding: 0.4em;
}

body .ui-widget-content {
	margin-bottom: 0.4em;
}

.qty_wrap input {
	float: left;
}

div.opts {
	padding: 5px;
}


 .ui-state-highlight {margin:5px;}
 
 
 .remove-icon label {

     background: url('../../../../../../images/icon_remove.png') 0 0px no-repeat;
     height: 16px;
     padding: 0 0 0 0px;

}
.remove-icon input {

    display:none;

}

.sub_short_desc {margin:5px;}

ul li .ui-icon-circle-triangle-e {float:left;}
a.readon {float:right;}

.productitem div.item {font-size:.7em;}

.plc_extrafields {clear:both;}

.afilbox  {margin:5px;}

.extra_images img {max-width:60px;height:auto;}
