body
{ 
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center; /* FOR IE*/
	min-width: 600px;
	margin: 3px 10px 0 10px;
	padding: 0;
}
 
 /* links */
a { font-size: 11px; }
a:link, a:visited, a:active { font-family: Tahoma, Verdana, Arial, sans-serif; color: #000000; font-weight: normal; text-decoration: none; }
a:hover { font-family: Tahoma, Verdana, Arial, sans-serif; color: #000000; font-weight: normal; text-decoration: underline; }

/* miscellaneous */
.smallText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.main { font-family: Verdana, Arial, sans-serif; font-size: 12px; }

/* forms */
CHECKBOX, INPUT, RADIO, SELECT, TEXTAREA, FILE, table, td, tr { font-family: Verdana, Arial, sans-serif; font-size: 11px; }
FORM { display: inline; }

#outercontainer
{
	text-align: center;
}

div.m1p_title
{
	color: white;
	font-weight: bold;
	font-size: 11px;
	height: 29px;
	margin:0 auto;
	width: 100%;
	text-align: left;
}

td#titletext 
{
	padding-left: 5px;
	color: white;
	font-weight: bold;
	font-size: 11px;
}

div.m1p_title 
{
	margin-top: 3px;
}

div.m1p_title div
{

	padding-top: 8px;
	padding-left: 25px;
}
#content
{	
	/* width: 100%; /* 739px */
	margin: 0;
	clear: both;
	overflow: hidden;
	border-top: 1px #B6B6B6 solid;
	font-size: 11px;
}
.m1p_content
{
	/*background: url(images/bg.gif); */
	margin:0;
	/* width:100%; /* 741 */
	text-align: left;
	border-right: 1px #b6b6b6 solid;
	border-left: 1px #b6b6b6 solid;
	overflow: hidden;
	_width: 100%;
}
.bottom
{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5b5b5b;
	margin:0 auto;
}

a:active.m1p_orange, a:hover.m1p_orange, a:visited.m1p_orange, a:link.m1p_orange
{
	color: #f16f31;
	font-size: 11px;
}

.copy
{
	color: #d3cfc5;
	font-size: 9px;
	text-align: center;
	background: #6c4e27;
	height: 18px;
}
h1
{
	font-family: Arial Narrow, Arial, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;	
	color: #5f531f;
	margin-bottom: 3px;
}
h2
{
	font-family: Arial, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;	
	color: #000;
}
.button
{
	border: 1px solid #2E400F;
	color: White;
	background-color: #0983c2;
	font-size: 11px;
}
p, li, ul, ol
{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 1.6em;
}

#navigation {
	 FONT-SIZE: 11px; 
	 BACKGROUND: white; /*FLOAT: left;*/  
	 LINE-HEIGHT: normal; 
	 margin-left: 1px; 
	 COLOR: white;
	 font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	 width: 738px;
}
#navigation UL {
	MARGIN: 0px; 
	PADDING-TOP: 11px; 
	LIST-STYLE-TYPE: none;
	text-align: center;
	margin-bottom: 1px;
}
#navigation LI {
	PADDING-RIGHT: 0px; 
	DISPLAY: inline; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px;
}
#navigation A {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 4px; 
	BACKGROUND: url(images/tableftB.gif) no-repeat left top; 
	/* FLOAT: left; */
	MARGIN: 0px; 
	TEXT-DECORATION: none; 
	color: white;
	PADDING-BOTTOM: 4px; 
	PADDING-TOP: 7px; 
#	PADDING-TOP: 0px;
}
#navigation A SPAN {
	PADDING-RIGHT: 15px; 
	/*DISPLAY: block; */
	PADDING-LEFT: 6px; 
	BACKGROUND: url(images/tabrightB.gif) no-repeat right top; 
	/* FLOAT: left;*/
	COLOR: #666; 
	PADDING-BOTTOM: 4px; 
	PADDING-TOP: 7px;
}
#navigation A SPAN {
	
	color: white;
}
#navigation A:hover SPAN {
	/*font-weight: bold; */
}
#navigation A:hover {
	BACKGROUND-POSITION: 0% -42px
}
#navigation A:hover SPAN {
	BACKGROUND-POSITION: 100% -42px
}

#navigation A.selectedtab {
	BACKGROUND-POSITION: 0% -42px;
	font-weight: bold;
}
#navigation A.selectedtab SPAN {
	BACKGROUND-POSITION: 100% -42px;
	color: white;
}

.m1p_orangebutton { 
text-align: left;
}

.m1p_orangebutton span
{
	display: table;	 	/* this line must be here*/
	//display:inline; /* this line must be here too*/
	background: url(images/b_r_w.gif) no-repeat right top;
	cursor: pointer; 
	font-size: 17px;
	line-height: 22px;
	height: 22px;
}

.m1p_orangebutton span input
{
	BACKGROUND: url(images/b_l.gif) no-repeat left top;	 
	height:21px;
	border: 0;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

#submitbutton
{
padding-top:20px;
}

#submitbutton span
{
	BACKGROUND: url(images/b_r_w.gif) no-repeat right top;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 0px;
	cursor: pointer;
}

#submitbutton span input 
{
	BACKGROUND: url(images/b_l.gif) no-repeat left top;	 
	height:21px;
	border: 0;
	cursor: pointer;
	color: white;
	font-weight: bold;
}


.uTD
{
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 20px;
}

.uTR
{
	margin-top: 0px;
	padding-top: 0px;
}

.uTABLE
{
	width: 100%;
	/*
padding: 0;
	margin: 0;
*/
	/*
margin-left: -2px;
*/
}

table {  }

thead td { background: white; font-weight: bold; }
.subheader { color: #505050; text-transform: uppercase; background-color: #eaeaea;}
.header { color: black; text-transform: uppercase; font-weight: bold;}
.header td, .subheader td { aborder: 1px #B6b6b6 solid; padding-left: 10px; }
.header a, .header a:active, .header a:visited, .header a:hover { text-decoration: underline; }

.stattable { clear: both; text-align: center; font-size: 11px;}
.stattable tr.darkrow { background: #F5F5F5; }
.stattable tr.lightrow { background: white; }
.stattable a { font-weight: normal; } 

div.infoMessage 
{
	padding: 5px;
	color: red;
	text-align: center;
	font-size: 11px;
}

div.pagesLinks 
{
	font-size: 11px;
	padding: 0px;
	text-align: center;
	margin: 10px 0px 0px 0px;
}

div.pagesLinks a, div.pagesLinks span  { margin-right: 5px; }
div.pagesLinks span { font-weight: bold;  }

a:active.m1p_white, a:hover.m1p_white, a:visited.m1p_white, a:link.m1p_white { font-weight: bold; color: white; }

div#statPeriods, div#timeNavigation {  font-size: 11px; padding: 3px 3px 3px 5px; text-align: right;}
div#statPeriods a, a.timeNavigation  { margin-right: 15px;   }
div#statPeriods { padding-right:15px; }
.left { text-align: left; }
.uline { text-decoration: underline;}

div#makeadealMenu { font-size: 11px; margin: 5px 2px 5px 2px;}

div#menuLinks 
{
	font-size:11px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:5px;
	line-height: 15px;
}

div.dateSelector
{
	padding:10px;
	text-align:center;
}


div.loadingBlock
{
	text-align: center;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 5px;
	vertical-align: middle;
}

.calendarbutton
{
	cursor: pointer;
}

#footer 
{
	margin: 15px 0 15px 0;
	color: #909090;
}

#footer a, #footer a:hover, #footer a:visited, #footer a:active
{
	color: #909090;
	text-decoration: underline;
}

.selectedRow 
{
	/*background: #D6D6D6;*/
	font-weight: bold;
}
.selectedRow a, .selectedRow a:hover,  .selectedRow a:visited, .selectedRow a:active
{
	font-weight: bold;
}

.darkColumn { background: #E9E9E9; } 

.dateform { border: 1px #e0e0e0 dashed; padding: 10px; background: #fbfbfb;}

div.nostats { text-align: center; margin: 10px; }

td.storecategory 
{
	padding: 5px;
	width: 200px;
	border-bottom: 1px #ccc solid;
}

div.event
{
	padding: 5px;
	color: #00bd00;
	text-align: center;
	background: #e5ffe5;
}

div.msgerror
{
	padding: 5px;
	color: #FF1111;
	text-align: center;
	background: #ffe4e4;
}

div.notice 
{
	padding: 2px;
	color: #555;
}

.taxonomy_matching th
{
	font-size: 13px;
	color: #333;
}

.ac_results {
	text-align: left;
}

.save_error {
	margin: 5px;
	vertical-align: middle;
	color: #ff5555;
	font-weight: bold;
}
