/*
*  Bazillyo's Spiffy Popup Calendar Styles v2.1 Copyright S. Ousta
*/
#spiffycalendar {
	width: 185px;
	height:130px;
	left: 0px;
	top: 0px;
	background-color: black;
	position: absolute;
	visibility: hidden;
}

.cal-SymbolBtn {
	font-family: Webdings;
	 
	outline-style : none;
	outline-width: 0px;	
}

.cal-BtnLink {
	outline-style : none;
	outline-width: 0px;
}

a.cal-DayLink {
    
  
    font-weight: normal;
    text-decoration: none;
    color: black;
    background-color: transparent;
	cursor: url('includes/javascript/spiffyCal/images/spiffycal2.cur');

}
a.cal-DayLink:hover {
 
  
    text-decoration: none;
    background-color: transparent;
 
	cursor: url('includes/javascript/spiffyCal/images/spiffycal2.cur');
}
a.cal-DayLink:active {
 
	text-decoration: none;
	background-color: transparent;
	color: #02234E;
	cursor: url('includes/javascript/spiffyCal/images/spiffycal2.cur');
}
.cal-TextBox{
    color: Black;
 
    font-weight: normal;
    background-color: #FFFFCC;
}

.cal-TextBoxInvalid{
	color: #660000;
 
	font-weight: normal;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CC3300;
	border-right-color: #CC3300;
	border-bottom-color: #CC3300;
	border-left-color: #CC3300;
}

.cal-TextBoxDisabled{
    color: #808080;

    font-weight: normal;
	border-color: silver;
	border-style:solid;
  /*  background-color: #C0C0C0;*/
}


.cal-ComboBox{
    color: Navy;
auto_parts
    font-weight: normal;
    background-color: #EAFFFF;
}

.cal-Today {
     
    font-weight: bold;
    text-decoration: none;
    color: red;
    background-color: transparent;
}

.cal-Day {
auto_parts
    font-weight: normal;
    text-decoration: none;
    color: black;
    background-color: transparent;
}


a.cal-TodayLink {
     
    font-weight: bold;
    text-decoration: none;
    color: red;
    background-color: transparent;
	cursor: url('includes/javascript/spiffyCal/images/spiffycal.cur');
}
a.cal-TodayLink:hover {
     
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: Blue;
	cursor: url('includes/javascript/spiffyCal/images/spiffycal.cur');
}
a.cal-TodayLink:active {
auto_parts
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: #0066FF;
	cursor: url('includes/javascript/spiffyCal/images/spiffycal.cur');
}

.cal-GreyDate {
auto_parts
    font-weight: normal;
    text-decoration: none;
	background-color: #FFFFCC;
    color: #999999;
}

.cal-GreyInvalidDate {
     
    font-weight: normal;
    text-decoration: line-through;
	background-color: #FFFFCC;
    color: #999999;
}

.cal-DayCell {
   
    font-weight: normal;
	background-color:White; 
}

.cal-WeekendCell {
    
    font-weight: normal;
	background-color: #B0C4DE; 
}

.cal-HolidayCell {
    
    font-weight: normal;
	background-color: #99FF99;
}
.cal-HeadCell {
	
	font-weight: bold;
	color: #FFFFFF;
	background-color: #033067;  /*#CCCC99; */
}
.cal-HeadCell a:link , .cal-HeadCell a:visited{
	
	font-weight: bold;
	color: #FFFFFF;

}
.cal-Table{
	border-top-color: #ccc;
	border-left-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color:  #ccc;
	background-color: #6666CC;
	border-width:1px;
	border-style: solid;
	cursor: url('includes/javascript/spiffyCal/images/spiffycal3.cur');
}
