/* PHP Event Calendar | Control Panel CSS */



#admin_main, #admin_header {
margin: 0 auto; margin-bottom: 10px; overflow: hidden; }

#admin_main { padding: 15px;  border: 1px solid #cbcbcb; -moz-border-radius: 10px; -webkit-border-radius:10px; background:#fff; }
#admin_title { float: left; }
#admin_logout { float: right; }

.error_message { display: block; height: 22px; line-height: 22px; background: #FBE3E4 url(assets/error.gif) no-repeat 10px center; padding: 3px 10px 3px 35px; margin: 10px 0; color:#8a1f11;border: 1px solid #FBC2C4; -moz-border-radius: 5px; -webkit-border-radius:5px; }

.success_message { display: block; height: 22px; line-height: 22px; padding: 3px 10px 3px 35px; margin: 0; color:#666; border: 1px solid #A0D997; -moz-border-radius: 5px; -webkit-border-radius:5px; background-color: #D6FFD8; background-image: url(assets/success.gif); background-repeat: no-repeat; background-position: 10px center; color:#436213; }


span.add a { height:52px; width:250px; display:block; text-indent:-9999px; background:url(assets/add.png) bottom no-repeat; float:left; margin-top:15px; }
span.add a:hover { background-position:top; }

span.edit a { height:52px; width:250px; display:block; text-indent:-9999px; background:url(assets/edit.png) bottom no-repeat;  margin-left:259px !important; margin-left:257px; margin-top:15px; }
span.edit a:hover { background-position:top; }

ul.upcoming-events { margin: 5px 0; padding:0; }
ul.upcoming-events li { line-height: 25px; border-bottom: 1px dotted #ccc; list-style: none; }
ul.upcoming-events li a { display: block; }
ul.upcoming-events li a:hover { background: #FFF url(./assets/pencil.gif) right center no-repeat; }
span.upcoming-date { color:#999; }

label {
	display:block;
	margin:12px 0 4px;
}





.checkbox { width:auto; }
input.edit_search { width:400px; }
select { width:auto; }
