#
# This file is used by Apache web servers.
# 
# It blocks direct HTTP requests to this directory recursively in order to
# prevent access to logs via the web.

<Files *.log>
Order Deny,Allow
Deny from all
Allow from localhost
</Files>
